debian:
  image: debian:13-slim
  stage: build
  before_script:
    - apt-get update && apt-get -y install fp-compiler fp-units-gfx libglut3.12
  script:
    - cd ./engine
    - fpc -S2 vespucci.dpr

rocky:
  image: rockylinux/rockylinux:10
  stage: build
  before_script:
    - yum install -y epel-release && yum install -y fpc freeglut glibc-devel
  script:
    - cd ./engine
    - fpc -S2 vespucci.dpr
