name: GitHub-CI

on: push

jobs:
  build_ubuntu_20_04:
    runs-on: ubuntu-20.04
    steps:
      # Checks-out the repository under $GITHUB_WORKSPACE.
      - uses: actions/checkout@v2
      - name: Change directory
        run: cd $GITHUB_WORKSPACE && pwd && ls -lah
      - name: Install Debian packages
        run: |
          sudo apt-get update
          sudo apt-get install -y fp-compiler fp-units-gfx freeglut3
      - name: Build
        run: |
          cd engine
          fpc -S2 vespucci.dpr
  build_ubuntu_18_04:
    runs-on: ubuntu-18.04
    steps:
      # Checks-out the repository under $GITHUB_WORKSPACE.
      - uses: actions/checkout@v2
      - name: Change directory
        run: cd $GITHUB_WORKSPACE && pwd && ls -lah
      - name: Install Debian packages
        run: |
          sudo apt-get update
          sudo apt-get install -y fp-compiler fp-units-gfx freeglut3
      - name: Build
        run: |
          cd engine
          fpc -S2 vespucci.dpr
  build_ubuntu_16_04:
    runs-on: ubuntu-16.04
    steps:
      # Checks-out the repository under $GITHUB_WORKSPACE.
      - uses: actions/checkout@v2
      - name: Change directory
        run: cd $GITHUB_WORKSPACE && pwd && ls -lah
      - name: Install Debian packages
        run: |
          sudo apt-get update
          sudo apt-get install -y fp-compiler fp-units-gfx freeglut3
      - name: Build
        run: |
          cd engine
          fpc -S2 vespucci.dpr
